FLASK_DEBUG=true
SECRET_KEY=change-this-secret-key
DATABASE_PATH=instance\events.sqlite3
NAS_MONITOR_PATH=
NAS_ALLOW_MAPPED_DRIVE=false
LOGIN_MAX_FAILED_ATTEMPTS=3
LOGIN_BLOCK_MINUTES=10
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin1234
